.TeamInfo {
    display: flex;
    align-items: center;
}

.TeamInfo img {
    width: 100px;
    margin-right: 10px;
}

@media (max-width: 500px) {
    .TeamInfo {
        font-size: 0.8rem;
    }

    .TeamInfo img {
        width: 70px;
    }
}
