.TeamInfo {
    display: flex;
    align-items: center;
}

.TeamInfo img {
    width: 100px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .TeamInfo {
        font-size: 0.5rem;
    }

    .TeamInfo img {
        width: 50px;
        margin-right: 5px;
    }
}
