.CompetitionsContainer {
    width: 100%;
    margin: 30px auto;
}

.CompetitionsContainer a {
    height: fit-content;
    text-decoration: none;
    color: black;
}

.CompetitionsContainer a:hover {
    transform: scale(1.05);
    transition: 0.4s;
}
