.League {
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    box-shadow: 2px 2px 5px rgb(109, 109, 109);
    border-radius: 5px;
}

.League img {
    width: 100%;
}

.League h3 {
    margin: 10px 0 5px;
}

.League a {
    padding: 15px;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: rgb(255, 115, 0);
    color: white;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .League img {
        width: 70%;
        margin: auto;
    }
}
