.Country {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 7px rgb(139, 139, 139);
    text-align: center;
}

.Country:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.Country h3 {
    text-transform: uppercase;
    font-size: 0.7rem;
}

.Country img {
    width: 50px;
    margin-top: 10px;
}

@media (max-width: 400px) {
    .Country h3 {
        font-size: 0.9rem;
    }
}
