.Player a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgb(179, 179, 179);
    color: black;
    text-decoration: none;
}

.Player a:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.Player .Player-number {
    margin-left: 10px;
    color: rgb(240, 126, 20);
    font-weight: bold;
}

.Player-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Player-title img {
    width: 100px;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 1px 1px 7px rgb(192, 192, 192);
}

@media (max-width: 500px) {
    .Player {
        margin-bottom: 20px;
    }
    
    .Player h3 {
        font-size: 1rem;
    }
}
