.Player {
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.Player-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Player-title img {
    width: 100px;
    aspect-ratio: 1/1;
    box-shadow: 1px 1px 5px rgb(177, 177, 177);
    margin-bottom: 10px;
}
